
<div id="htino_contain">
    <div class="easyui-panel" title="合同情况" style="max-width:1060px;">
        <form action="" data-options="validate:true">
            <table cellpadding="2">
                <tr>
                    <td>登记时间</td>
                    <td>归档时间</td>
                    <td>合同份数</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'登记时间:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'归档时间:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'合同份数:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'归档份数:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'用户ID:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'单位ID:',required:true,validType:''"></td>
                    <td colspan="2" rowspan="2"><input class="easyui-textbox" name="email" style="width:220px;height:60px" data-options="label:'付款方式:',validType:''"></td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'所属公司:',required:true,validType:''"></td>
                    <td colspan="2"><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'单位:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'合同编号:',required:true,validType:''"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'公司:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'部门:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'岗位:',required:true,validType:''"></td>
                    <td colspan="2"><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'小组:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'经办人:',required:true,validType:''"></td>
                    <td colspan="2" rowspan="2"><input class="easyui-textbox" name="email" style="width:220px;height:60px" data-options="label:'合同概要:',validType:''"></td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'合同金额:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'印花税情况:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'会计分类:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'坏账金额:',required:true,validType:''"></td>
                    <td><input class="easyui-textbox" name="email" style="width:220px" data-options="label:'催债时间:',required:true,validType:''"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>