<div id="ht_manager_guidance">
    <div id="guidance">
        <h4 style="text-align: center">细胞核列表</h4>
        <table id="ht_guidance_table"
               data-height="568"
               data-show-header="true"
               data-show-columns="true"
               data-search="true"
               data-striped="true"
               data-show-footer="true"
               data-detail-view="true"
               data-detail-formatter="hetong.htManager.zhidao.detailFormatter"
               data-buttons-align="left"
               data-search-align="left"
               data-query-params="queryParams"
               data-query-params-type=""
               data-show-toggle="true"
               data-page-size="50"
               data-page-list="[15,30,50,100]"
               data-show-refresh="true"
               data-response-handler="responseHandler"
               data-pagination="true"
               data-side-pagination="client"
               data-cache="false"
               data-url="public/hetong/getAllCellCores.action">
            <thead>
            <tr>
                <!--<th data-field="chargerId" data-visible="false" data-sortable="true">职员编号</th>-->
                <th data-field="cellCore" data-sortable="true"  data-footer-formatter="<a>总计</a>">姓名</th>
                <th data-field="cemail" data-visible="false" data-sortable="true"  data-footer-formatter="<a>- -</a>">邮箱</th>
                <th data-field="lastYear" data-visible="true" data-sortable="true"  data-footer-formatter="hetong.htManager.zhidao.footerFormatter_2015"><span app-text="lastYear">2015</span>收款（元）</th>
                <th data-field="thisYear" data-visible="true" data-sortable="true" data-footer-formatter="hetong.htManager.zhidao.footerFormatter_2016"><span app-text="thisYear">2016</span>收款（元）</th>
                <th data-field="yingshou" data-sortable="true" data-footer-formatter="hetong.htManager.zhidao.footerFormatter_yingshou">应收</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="cellsview" style="display: none">
    </div>

    <div id="user_list_view" style="display:none">
    </div>

    <div id="ht_detail" style="display:none">

    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#ht_guidance_table').bootstrapTable({
                onClickRow: hetong.htManager.zhidao.onCoreClickRow
            });
        })
    </script>
</div>