<div id="ht_htManager_detail">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#ht_detail_sk" data-toggle="tab">收款</a></li>
        <li role="presentation"><a href="#ht_detail_ys" data-toggle="tab">应收</a></li>
    </ul>
    <div id="ht_customer" class="tab-content">
        <!-- 已收款 -->
        <div class="tab-pane fade in active" id="ht_detail_sk">
            <table id="ht_sk_table"
                   data-toggle="table"
                   data-height="526"
                   data-show-header="true"
                   data-show-columns="true"
                   data-search="true"
                   data-striped="true"
                   data-buttons-align="left"
                   data-search-align="left"
                   data-query-params-type=""
                   data-show-toggle="true"
                   data-show-refresh="true"
                   data-response-handler="responseHandler"
                   data-pagination="true"
                   data-side-pagination="client"
                   data-cache="false"
                   data-url="app/data/data_ht.json">
                <thead>
                <tr>
                    <th data-field="date" data-sortable="true">时间</th>
                    <th data-field="date" data-sortable="true">发票品名</th>
                    <th data-field="huiKuan" data-sortable="true">收款金额</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- 应收款 -->
        <div class="tab-pane fade" id="ht_detail_ys">
            <table id="ht_ys_table"
                   data-toggle="table"
                   data-height="526"
                   data-show-header="true"
                   data-show-columns="true"
                   data-search="true"
                   data-striped="true"
                   data-buttons-align="left"
                   data-search-align="left"
                   data-query-params="queryParams"
                   data-query-params-type=""
                   data-show-toggle="true"
                   data-show-refresh="true"
                   data-response-handler="responseHandler"
                   data-pagination="true"
                   data-side-pagination="client"
                   data-cache="false"
                   data-url="app/data/data_ht.json">
                <thead>
                <tr>
                    <th data-field="id" data-sortable="true">时间</th>
                    <th data-field="contractId" data-sortable="true">品名</th>
                    <th data-field="customerName" data-visible="false" data-sortable="true">合同金额</th>
                    <th data-field="contractId" data-sortable="true">已收款</th>
                    <th data-field="contractId" data-sortable="true">应收款</th>
                    <th data-field="contractId" data-visible="false" data-sortable="true">开票金额</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $('table').bootstrapTable();
    </script>
</div>
