<div class="ht_customer">
    <h4 style="text-align: center">用户单位列表</h4>
    <div id="ht_customer_toolbar">
        <form class="form-inline" role="form">
            <div class="input-group">
                <div id="ht_customer_find" class="input-group-btn">
                    <button class="btn btn-default fropdown-toggle" data-toggle="dropdown" data-target="#ht_find_user_ul" type="button">
                        <span id="ht_find_user" target="text"><input type="hidden" name="chargerId" value="黄云"/>黄云</span><span class="caret"></span>
                    </button>
                    <span id="ht_find_user_ul">
                                   <ul class="dropdown-menu" role="menu">
                                       <li><a><span class="sr-only">1313</span>黄云</a></li>
                                       <li><a><span class="sr-only">2425</span>陆承彬</a></li>
                                       <li><a><span class="sr-only">331</span>潘阳</a></li>
                                       <li><a><span class="sr-only">414</span>杨自奎</a></li>
                                       <li><a><span class="sr-only">214</span>魏燕龙</a></li>
                                       <li><a><span class="sr-only">114</span>姚元飞</a></li>
                                       <li><a><span class="sr-only">112</span>曾超</a></li>
                                   </ul>
                    </span>
                </div>
                <!--<input type="text" class="form-control" name="value" placeholder="您想查找什么？"/>-->
                            <!--<span class="input-group-btn">-->
                                <!--<button id="ht_manager_search" class="btn btn-default" type="button" app-action="">-->
                                    <!--<i class="glyphicon glyphicon-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
            </div>
        </form>
    </div>
    <table id="ht_customer_table"
           data-toggle="table"
           data-height="528"
           data-toolbar="#ht_customer_toolbar"
           data-toolbar-align="left"
           data-show-header="true"
           data-show-columns="true"
           data-search="true"
           data-striped="true"
           data-buttons-align="right"
           data-query-params="queryParams"
           data-query-params-type=""
           data-show-toggle="true"
           data-show-refresh="true"
           data-response-handler="responseHandler"
           data-pagination="true"
           data-side-pagination="client"
           data-cache="false"
           data-url="app/data/data_ht.json">
        <thead>
        <tr>
            <th data-field="id" data-visible="false" data-sortable="true">编号</th>
            <th data-field="contractId" data-visible="false" data-sortable="true">合同编号</th>
            <th data-field="customerName" data-sortable="true">单位名称</th>
            <th data-field="pingming" data-sortable="true" data-visible="false">品名</th>
            <th data-field="contractMoney" data-visible="false" data-sortable="true">合同款</th>
            <th data-field="lastYear" data-sortable="true" width="160px;"><span app-text="lastYear">2015</span>收款</th>
            <th data-field="thisYear" data-sortable="true"><span app-text="thisYear">2016</span>收款</th>
            <th data-field="yingshou" data-sortable="true">应收款</th>
            <th data-field="signedTime" data-visible="false" data-sortable="true">签定时间</th>
        </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function(){
            var $table = $('#ht_customer_table'),
                    $ok = $('#ht_manager_search');
            $table.bootstrapTable();
            $('#ht_find_user_ul a').bind('click',function(event){
                var text = $(this).html();
                var value = $(this).find('.sr-only').html();
                var hidden = $('<input type="hidden" name="chargerId" value="' + value +'"/>');
                var closest = $('#ht_find_user');
                closest.html(text);
                closest.append(hidden[0]);
                hetong.htManager.findCharger(value,$table);
                event.stopImmediatePropagation();
            })
            $ok.click(function () {
                $table.bootstrapTable('refresh');
            });
        })
    </script>
</div>