<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>顺丰快递单</title>
	<link rel="icon" href="">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="page">
		<div class="m1 b">
			<img src="img/logo.jpg" class="img1">
			<img src="img/tel.png" class="img2">
			<p><span class="s1">E</span><span class="s2">加急</span></p>
		</div>
		<div class="m2 b">
			<div class="left">
				<img src="img/code.jpg">
				<p>运单号<span id="mailno0">033 203 023 629</span></p>
				<!-- <p>母单号<span>444 004 772 115</span></p> -->
			</div>
			<div class="right">
				<div class="r1 b">
					<p>电商专配</p>
				</div>
				<div class="r2">
					<p class="p1">代收贷款</p>
					<p class="p2">卡号：8881688888</p>
					<p class="p3">¥3000.5</p>
				</div>
			</div>
		</div>
		<div class="m3 b">
			<div class="left">
				<p>目的地</p>
			</div>
			<div class="right">
				<p>7312</p>
			</div>
		</div>
		<div class="m4 b">
			<div class="left">
				<p>收件人</p>
			</div>
			<div class="right">
				<p>熊大 0731-12345678 13927481656 腾飞科技</p>
				<p>湖南省湘潭市雨湖区学府路与建设路交汇口666号南山软件产业基地B栋8楼</p>
			</div>
		</div>
		<div class="m5 b">
			<div class="left">
				<p>收件人</p>
			</div>
			<div class="right-1">
				<p>熊大 0731-12345678</p>
				<p>广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
			</div>
			<div class="right-2">
				<p class="p1">定时派送</p>
				<p class="p2">自寄 自取</p>
			</div>
		</div>
		<div class="m6 b cl">
			<div class="left">
				<div class="l1 b">
					<ul>
						<li>付款方式：<span id="pay_method"></span></li>
						<li>月结账号：<span id="month_account"></span></li>
						<li>第三方地区：<span id="third_area"></span></li>
						<li>实际重量：<span id="actually_weight"></span></li>
					</ul>
					<ul>
						<li>计费重量：<span id="cacuPay_weigth"></span></li>
						<li>生命价值：<span id="baozhi"></span></li>
						<li>保价费用：<b id="baozhi_fee">10元</b></li>
						<li>定时派送：<span id="due_send">2016/3/31-1500-1600</span></li>
					</ul>
					<ul>
						<li>包装费用：<b id="package_fee">10元</b></li>
						<li>运费：<b id="freight">22元</b></li>
						<li>费用合计：<b id="fee_total">42元</b></li>
					</ul>
					<p id="mark1">转寄协议客户</p>
				</div>
				<div class="l2">
					<div class="l2-a">
						<p>托寄物</p>
					</div>
					<div class="l2-b">
						<span id="tuoji_content"></span>
					</div>
					<div class="l2-c">
						<ul>
							<li>收件员：<span id="sf_receiver"></span></li>
							<li>收件日期：<span id="sf_revevie_date"></span></li>
							<li>派件员：<span id="sf_revevie_date"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<p>签名：</p>
				<p class="p2">月<span>日</span></p>
			</div>
		</div>
		<div class="item b">
			<div class="m7 b cl">
				<div class="left">
					<img class="img1" src="img/logo.jpg">
					<img src="img/tel.png">
				</div>
				<div class="right">
					<img src="img/code.jpg">
					<p>子单号<span id="mailno">033 203 023 629</span></p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>寄件人</p>
				</div>
				<div class="right">
					<p  id="sender">熊大 0731-12345678</p>
					<p id="sender_address">广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
			<div class="m8 b">
				<div class="left">
					<p>收件人</p>
				</div>
				<div class="right">
					<p id="receiver">熊大 0731-12345678</p>
					<p id="receiver_address">广东省深圳市学府路666号南山软件产业基地B栋8楼</p>
				</div>
			</div>
		</div>
		<div class="m10"></div>
	</div>
</body>
</html>