<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
		html,body{
			border: 0px;
			margin: 0px;
			padding: 0px;
		}
    </style>
</head>
<body>
		<!--<div class="easyui-linkbutton" style="text-align:right">-->
			<!--&lt;!&ndash;<input type="button" value="打印" onclick="window.print()"/>&ndash;&gt;   192.168.1.232:8080/cxoa/employee/getCompany.action -->
		<!--</div>-->

		<iframe height="1024px;" width="485px;" style="overflow-x: hidden" src="index.html" frameborder="0" scrolling="no" align="left">

		</iframe>
</body>
</html>
<!--<script type="text/javascript">-->
	<!--//	$.(document).ready(function(){-->
	<!--window.print();-->
	<!--//	})-->
<!--</script>-->
