<!-- 报销信息-->
<div id="bx_info" class="col-xs-12 col-lg-6" style="overflow: hidden;">
    <form class="form-horizontal" role="form" style="margin: 10px 0 0 20px;">
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">批次号:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="number" class="form-control input-sm" placeholder="批次号...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">邮寄时间:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="date" class="form-control input-sm" placeholder="邮寄时间...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">报销人:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="email" class="form-control input-sm" placeholder="报销人...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">报销张数:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="number" max="30" min="0" class="form-control input-sm" placeholder="报销张数...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">报销金额:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="number"  class="form-control input-sm" placeholder="报销金额...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">还款金额:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="number" class="form-control input-sm" placeholder="还款金额...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">银行:</label>
            <div class="col-xs-8 col-sm-6">
                <select name="bank" id="bx_bank" class="form-control input-sm">
                    <option value="jtyh">交通银行</option>
                    <option value="gs">工商银行</option>
                    <option value="gd">光大银行</option>
                    <option value="js">建设银行</option>
                    <option value="zs">招商银行</option>
                    <option value="nh">农业银行</option>
                </select>
                <!--<input type="text" class="form-control input-sm" placeholder="银行...">-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">卡号:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="卡号...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">备注:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="备注...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">收票时间:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="date" class="form-control input-sm" placeholder="收票时间...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">报销时间:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="date" class="form-control input-sm" placeholder="报销时间...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">报销情况:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="报销情况...">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 col-sm-3 control-label">退票金额:</label>
            <div class="col-xs-8 col-sm-6">
                <input type="number" class="form-control input-sm" placeholder="退票金额...">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 col-lg-3"></div>
            <div class="col-xs-6 col-lg-4">
                <button class="btn btn-default pull-left" type="button">确认修改</button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button class="btn btn-default pull-left" type="button">取消</button>
            </div>
        </div>
        <div class="row">
        </div>
    </form>
    <!--<div class="panel panel-default">-->
    <!--</div>-->
</div>
