<div id="bx_apply">
    <!-- 报销信息-->
    <div class="row" style="margin-top: 10px;">
        <!-- 列表信息 -->
        <div class="col-lg-12" id="bx_list" style="overflow: hidden">
            <ul class="media-list">
                    <span id="bx_media_li">
                    <li class="media media-bgcolor">
                        <a class="media-left" href="#">
                            <img src="" alt="响应式图片" width="132" height="132" app-img="img">
                            <!--<img src="images/113.jpg" class="img-responsive" alt="123" width="132" height="132">-->
                        </a>
                        <a href="javascript:void(0)" class="media-body" style="">
                            <!--<a href="javascript:void(0)" onclick="showbxInfo($(this))" class="media-body" style="">-->
                            <!--<h4 class="media-heading">发票单</h4>-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-slack"></i> 报销批次：
                                        <span class="t-input" app-data="id"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-user"></i> 报销人：
                                        <span class="t-input" app-data="username"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-user"></i> 细胞核：
                                        <span class="t-input" app-data="cellCore"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-rmb"></i> 金额：
                                        <span class="t-input" app-data="money"></span>元
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-clock-o"></i> 汇款时间：
                                        <span class="t-input" app-data="baoxTime"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-comments-o"></i> 备注：
                                        <span class="t-input" app-data="explain"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!--<a href="javascript:showbxInfo()">-->
                        </a>
                    </li>
                    </span>
                <li class="media">
                    <a id="cw_bx_append" type="button" class="btn btn-default btn-sm btn-block" href="javascript:void(0)" onclick="caiwu.baoxiao.append()"><span id="cw_bx_append_text">加载更多</span><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
        <!-- 报销信息-->
        <!-- 报销信息-->
        <div id="bx_info" class="col-lg-6" style="height:0;overflow: hidden;">
            <form class="form-horizontal" role="form" style="margin: 10px 0 0 20px;">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 control-label">批次号:</label>
                    <div class="col-xs-8 col-sm-6">
                        <input type="number" class="form-control input-sm" name="id" placeholder="批次号..." disabled>
                    </div>
                </div>
                <fieldset id="cw_bx_user" disabled>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">邮寄时间:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="date" class="form-control input-sm" name="jTime" placeholder="邮寄时间...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销人:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" class="form-control input-sm" name="username" placeholder="报销人...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销人邮箱:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="email" class="form-control input-sm" name="email" placeholder="报销人...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销张数:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="number" max="30" min="0" class="form-control input-sm" name="number" placeholder="报销张数...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销金额:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="number"  class="form-control input-sm" name="money" placeholder="报销金额...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">还借款金额:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="number" class="form-control input-sm" name="huankuan" placeholder="还款金额...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">银行:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="bank" id="bx_bank" class="form-control input-sm">
                                <option value="jtyh">交通银行</option>
                                <option value="gs">工商银行</option>
                                <option value="gd">光大银行</option>
                                <option value="js">建设银行</option>
                                <option value="zs">招商银行</option>
                                <option value="nh">农业银行</option>
                            </select>
                            <!--<input type="text" class="form-control input-sm" placeholder="银行...">-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">卡号:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" class="form-control input-sm" name="account" placeholder="卡号...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">说明:</label>
                        <div class="col-xs-8 col-sm-6">
                            <textarea name="explain" id="" cols="30" rows="3" class="form-control"></textarea>
                            <!--<input type="text" class="form-control input-sm" name="account" placeholder="说明...">-->
                        </div>
                    </div>
                </fieldset>

                <fieldset id="cw_bx_approver" disabled>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">批准人:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" class="form-control input-sm" name="approver" placeholder="批准人...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">批准人邮箱:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="email" class="form-control input-sm" name="aproEmail" placeholder="批准人邮箱...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">批准时间:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="date" class="form-control input-sm" placeholder="批准时间...">
                        </div>
                    </div>
                </fieldset>

                <fieldset id="cw_bx_cn" disabled>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">收票时间:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="date" class="form-control input-sm" name="" placeholder="收票时间...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销时间:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="date" class="form-control input-sm" placeholder="报销时间...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">报销金额:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" class="form-control input-sm" name="baoxMoney" placeholder="报销情况...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">退票金额:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="number" class="form-control input-sm" name="tuipiao" placeholder="退票金额...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">财务备注:</label>
                        <div class="col-xs-8 col-sm-6">
                            <textarea name="caiwuRemarks" cols="30" rows="3" class="form-control" placeholder="财务备注..."></textarea>
                            <!--<input type="text" class="form-control input-sm" name="caiwuRemarks" placeholder="退票金额...">-->
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-xs-2 col-lg-3"></div>
                    <div class="col-xs-6 col-lg-4">
                        <button onclick="caiwu.baoxiao.showInfo()" class="btn btn-default pull-left" type="button">确认修改</button>
                    </div>
                    <div class="col-xs-4 col-lg-2">
                        <button onclick="caiwu.baoxiao.showInfo()" class="btn btn-default pull-left" type="button">返回</button>
                    </div>
                </div>
                <div class="row">
                </div>
            </form>
            <!--<div class="panel panel-default">-->
            <!--</div>-->
        </div>
    </div>
</div>