<div id="bx">
    <div class="row">
        <div class="col-xs-4 col-md-4">
        </div>
        <div class="col-xs-5 col-md-4">
            <h4 style="text-align:center">个人报销管理</h4>
        </div>
        <div class="col-xs-3 col-md-4">
            <div id="bx_sp_cells" class="dropdown pull-right" style="padding-top: 5px;margin-right: 20px;">
                <button class="btn btn-default" onclick="$('#bx_apply_dialog').modal('toggle')">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- 头部信息 （基本放查找）-->
    <div id="cw_bx_head_init">
        <!-- 查找输入组 -->
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-12">
                <form id="bx_find">
                    <div class="input-group">
                        <div id="bx_find_btn" class="input-group-btn">
                            <button class="btn btn-default fropdown-toggle" data-toggle="dropdown" type="button">
                                <span id="bx_find_type" target="text"><input type="hidden" name="type" value="explain"/>说明</span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a><span class="sr-only">id</span>批次号</a></li>
                                <li><a><span class="sr-only">jTime</span>邮寄时间</a></li>
                                <li><a><span class="sr-only">username</span>报销人</a></li>
                                <li><a><span class="sr-only">number</span>报销张数</a></li>
                                <li><a><span class="sr-only">money</span>报销金额</a></li>
                                <li><a><span class="sr-only">huankuan</span>还借款金额</a></li>
                                <li><a><span class="sr-only">acount</span>卡号</a></li>
                                <li><a><span class="sr-only">bank</span>银行</a></li>
                                <li><a><span class="sr-only">explain</span>说明</a></li>
                                <li><a><span class="sr-only">reciveTime</span>收票时间</a></li>
                                <li><a><span class="sr-only">baoxTime</span>报销时间</a></li>
                                <li><a><span class="sr-only">status</span>报销情况</a></li>
                                <li><a><span class="sr-only">tuipiao</span>退票金额</a></li>
                                <li><a><span class="sr-only">caiwuRemarks</span>财务备注</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" name="value" placeholder="您想查找什么？"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default do_action" type="button" app-action="caiwu.baoxiao.find" app-init = "caiwu.baoxiao.init">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 内容信息（放类似"listview"的东西）-->
    <div id="cw_bx_body">
        <!--<div class="panel-heading">发票报销</div>-->
        <div id="cw_bx_sum" class="row" style="padding-top: 10px;">
            <div class="col-xs-4 col-lg-4"><span style="font-size: 12px;color: gray" >去年：<span app-data="lastYearTotal"></span> 元</span></div>
            <div class="col-xs-4 col-lg-4"><span style="font-size: 12px;color: gray" >今年：<span app-data="thisYearTotal"></span> 元</span></div>
            <div class="col-xs-4col-lg-4"><span style="font-size: 12px;color: gray" >总数：<span app-data="total"></span> 次</span></div>
        </div>

        <!-- 报销信息-->
        <div class="row" style="margin-top: 10px;">
            <!-- 列表信息 -->
            <div class="col-lg-12" id="bx_list" style="overflow: hidden">
                <ul class="media-list">
                    <span id="bx_media_li">
                    <li class="media media-bgcolor">
                        <a class="media-left" href="#">
                            <img src="" alt="响应式图片" width="132" height="132" app-img="img">
                        </a>
                        <a href="javascript:void(0)" class="media-body" style="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-slack"></i> 报销批次：
                                        <span class="t-input" app-data="id"></span>
                                        <!--<span class="badge">审核通过</span>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-user"></i> 报销人：
                                        <span class="t-input" app-data="username"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-user"></i> 细胞核：
                                        <span class="t-input" app-data="cellCore"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-rmb"></i> 金额：
                                        <span class="t-input" app-data="money"></span>元
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-clock-o"></i> 汇款时间：
                                        <span class="t-input" app-data="baoxTime"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <i class="fa fa-comments-o"></i> 备注：
                                        <span class="t-input" app-data="explain"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!--<a href="javascript:showbxInfo()">-->
                        </a>
                    </li>
                    </span>
                    <li class="media">
                        <a id="cw_bx_append" type="button" class="btn btn-default btn-sm btn-block" href="javascript:void(0)" onclick="caiwu.baoxiao.append()"><span id="cw_bx_append_text">加载更多</span><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
            <!-- 报销信息-->
            <div id="bx_info" class="col-md-10" style="height:0;overflow: hidden;">
                <form id="bx_sq" class="form-horizontal" role="form">
                    <legend>
                        <span>报销信息</span>
                        <div id="bx_msg_btn" class="pull-right hide">
                        <span>
                        <button type="button" class="btn btn-default btn-sm"  style="margin:10px 10px 0px;" onclick="
                        var parent = $(this).parent();
                        parent.toggleClass('hide');
                        parent.siblings().toggleClass('hide');
                        $('#bx_msg_info').removeAttr('disabled');
//                        $('#bx_msg_info').attr('disabled',false)
                        ">
                            <i class="fa fa-edit"></i>
                            编辑
                        </button>
                        </span>
                        <span class="hide">
                        <button type="button" class="btn btn-default btn-sm" app-action="caiwu.baoxiao.updateInfo"  style="margin:10px 10px 0px;" onclick="
                        var parent = $(this).parent();
                        parent.toggleClass('hide');
                        parent.siblings().toggleClass('hide');
                        ">
                            <i class="fa fa-check"></i>
                            提交申请
                        </button>
                        <button type="button" class="btn btn-default btn-sm"  style="margin:10px 10px 0px;" onclick="
                        var parent = $(this).parent();
                        parent.toggleClass('hide');
                        parent.siblings().toggleClass('hide');
                        $('#bx_msg_info').attr('disabled','true');
                        ">
                            <i class="fa fa-times"></i>
                            取消
                        </button>
                        </span>
                        </div>
                    </legend>
                    <fieldset id="bx_msg_info" disabled>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="username">报销人:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="text" class="form-control input-sm" id="username" name="username" placeholder="报销人..." readonly>
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="_id">批次号:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="number" class="form-control input-sm" id="_id" name="id" placeholder="批次号..." readonly>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="email">报销人邮箱:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="email" class="form-control input-sm" id="email" name="email" placeholder="报销人邮箱..." readonly>
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="number">报销张数:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="number" max="30" min="0" id="number" class="form-control input-sm" name="number" placeholder="报销张数...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="money">报销金额:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="number"  class="form-control input-sm" id="money" name="money" placeholder="报销金额...">
                            </div>
                            <label class="col-xs-4 col-sm-2  control-label">还借款金额:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="number" class="form-control input-sm" name="huankuan" placeholder="还款金额...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2  control-label" for="bx_bank2">银行:</label>
                            <div class="col-xs-8 col-sm-4">
                                <select name="bank" id="bx_bank2" class="form-control input-sm">
                                    <option value="jtyh">交通银行</option>
                                    <option value="gs">工商银行</option>
                                    <option value="gd">光大银行</option>
                                    <option value="js">建设银行</option>
                                    <option value="zs">招商银行</option>
                                    <option value="nh">农业银行</option>
                                </select>
                                <!--<input type="text" class="form-control input-sm" placeholder="银行...">-->
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label">卡号:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="text" class="form-control input-sm" name="account" placeholder="卡号...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label">邮寄时间:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" name="jTime" placeholder="邮寄时间...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="kdno2">快递单号:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" id="kdno2" name="reciveTime" placeholder="快递单号...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="explain">说明:</label>
                            <div class="col-xs-8 col-sm-4">
                                <textarea name="explain" id="explain" cols="30" rows="3" class="form-control"></textarea>
                                <!--<input type="text" class="form-control input-sm" name="account" placeholder="说明...">-->
                            </div>
                        </div>
                    </fieldset>
                    <legend>
                        <span>批准人信息</span>
                    </legend>
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="approver">批准人:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="text" class="form-control input-sm" id="approver" name="approver" placeholder="批准人...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="aproEmail">批准人邮箱:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="email" class="form-control input-sm" id="aproEmail" name="aproEmail" placeholder="批准人邮箱...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="approTime">批准时间:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" id="approTime" placeholder="批准时间...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="approRemark">备注:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="text" class="form-control input-sm" name="approRemark" id="approRemark" placeholder="批准时间...">
                            </div>
                        </div>
                    </fieldset>
                    <legend>
                        <span>财务信息</span>
                    </legend>
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="receiveTime">收票时间:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" id="receiveTime" name="reciveTime" placeholder="收票时间...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="kdno">快递单号:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" id="kdno" name="reciveTime" placeholder="快递单号...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="baoxMoney">报销金额:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="text" class="form-control input-sm" id="baoxMoney" name="baoxMoney" placeholder="报销情况...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="bxTime">报销时间:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="date" class="form-control input-sm" id="bxTime" placeholder="报销时间...">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 control-label" for="tuipiao">退票金额:</label>
                            <div class="col-xs-8 col-sm-4">
                                <input type="number" class="form-control input-sm" id="tuipiao" name="tuipiao" placeholder="退票金额...">
                            </div>
                            <label class="col-xs-4 col-sm-2 control-label" for="caiwuRemarks">财务备注:</label>
                            <div class="col-xs-8 col-sm-4">
                                <textarea name="caiwuRemarks" id="caiwuRemarks" cols="30" rows="3" class="form-control" placeholder="财务备注..."></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend> &nbsp;&nbsp;&nbsp;&nbsp;</legend>
                        <div class="chat-panel panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-comments fa-fw"></i> Chat
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body"  style="height:150px;">
                                <ul class="chat">
                                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="app/images/blue_60.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                                </small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="app/images/red_60.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="app/images/blue_60.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="app/images/red_60.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                                </div>
                            </div>
                            <!-- /.panel-footer -->
                        </div>
                    </fieldset>
                    <div class="row">
                    </div>
                </form>
                <button app-back="cw_baoxiaoManager" onclick="caiwu.baoxiao.showInfo()" type="button" style="display: none" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>

    <div id="bx_apply_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLabel" style="text-align: center">报销申请表</h4>
                </div>
                <div class="modal-body">
                    <form id="add_form" class="form-horizontal" role="form">
                        <!--<legend>-->
                            <!--<span>报销信息</span>-->
                        <!--</legend>-->
                        <fieldset>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-2 control-label" for="_money">报销金额:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <input type="number"  class="form-control input-sm" id="_money" name="money" placeholder="报销金额...">
                                </div>
                                <label class="col-xs-4 col-sm-2  control-label">还借款金额:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <input type="number" class="form-control input-sm" name="huankuan" placeholder="还款金额...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-2  control-label" for="_bx_bank">银行:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <select name="bank" id="_bx_bank" class="form-control input-sm">
                                        <option value="jtyh">交通银行</option>
                                        <option value="gs">工商银行</option>
                                        <option value="gd">光大银行</option>
                                        <option value="js">建设银行</option>
                                        <option value="zs">招商银行</option>
                                        <option value="nh">农业银行</option>
                                    </select>
                                </div>
                                <label class="col-xs-4 col-sm-2 control-label">卡号:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <input type="text" class="form-control input-sm" name="account" placeholder="卡号...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-2 control-label" for="_number">报销张数:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <input type="number" step="1" max="30" min="0" id="_number" class="form-control input-sm" name="number" placeholder="报销张数...">
                                </div>
                                <label for="_kdn" class="col-xs-4 col-sm-2 control-label"></label>
                                <div class="col-xs-8 col-sm-4">
                                    <input id="_kdn" type="text" class="form-control input-sm" name="kdno" placeholder="快递单号..."/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-2 control-label" for="_explain">说明:</label>
                                <div class="col-xs-8 col-sm-4">
                                    <textarea name="explain" id="_explain" cols="30" rows="3" class="form-control"></textarea>
                                    <!--<input type="text" class="form-control input-sm" name="account" placeholder="说明...">-->
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="caiwu.baoxiao.submitApprove()">提交</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#bx_find_btn a').bind('click',function(event){
                var text = $(this).html();
                var type = $(this).find('.sr-only').html();
                var hidden = $('<input type="hidden" name="type" value="' + type +'"/>');
                var closest = $($(this).closest("div")).find('[target="text"]');
                closest.html(text);
                closest.append(hidden[0]);
            })
        });
    </script>
</div>